<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jude.keychain" >
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".presentation.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".presentation.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainTheme" >
        </activity>
        <activity android:name=".presentation.ui.AddActivity"
            android:label="@string/key_edit"/>

        <activity android:name=".presentation.ui.KeyDetailActivity"/>

        <activity android:name=".presentation.ui.PatternLockActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.SetLockActivity"/>
        <activity android:name=".presentation.ui.ExportActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/seed_export"/>
        <activity android:name=".presentation.ui.ImportActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/seed_import"/>
        <activity android:name=".presentation.ui.AboutActivity"
            android:label="@string/nav_about"/>
        <activity android:name=".presentation.ui.HelpActivity"
            android:label="@string/nav_help"/>
        <activity android:name=".presentation.ui.ProtocolActivity"
            android:label="@string/nav_protocol"/>
        <activity android:name=".presentation.ui.SettingActivity"/>
    </application>

</manifest>
